{% extends "base.html" %}

{% block title %}

Servicios que ofrecemos. 

{% endblock %}


{% block content %}

<p>Estamos a día: {{dameFecha}}</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/I5zvQ6cu3Ik?si=TqODXuEF8F6Brb8t&amp;start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{% endblock %}